{% extends "inventory/inventory_base.html" %}

{% block title %}
Inventory Dashboard
{% endblock %}

{% block content %}

<div class="dashboard">

    <!-- =====================================
                OVERVIEW
    ====================================== -->

    <div class="stats-grid">

        <div class="stat-card">

            <div class="stat-icon blue">
                <i class="fa-solid fa-box"></i>
            </div>

            <div class="stat-content">
                <span>Total Products</span>
                <h2>{{ total_products }}</h2>
            </div>

        </div>

        <div class="stat-card">

            <div class="stat-icon green">
                <i class="fa-solid fa-layer-group"></i>
            </div>

            <div class="stat-content">
                <span>Categories</span>
                <h2>{{ total_categories }}</h2>
            </div>

        </div>

        <div class="stat-card">

            <div class="stat-icon orange">
                <i class="fa-solid fa-warehouse"></i>
            </div>

            <div class="stat-content">
                <span>Warehouses</span>
                <h2>{{ total_warehouses }}</h2>
            </div>

        </div>

        <div class="stat-card">

            <div class="stat-icon red">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>

            <div class="stat-content">
                <span>Low Stock</span>
                <h2>{{ low_stock_count }}</h2>
            </div>

        </div>

    </div>



    <!-- =====================================
                QUICK ACCESS
    ====================================== -->

    <div class="dashboard-card">

        <div class="card-header">

            <h2>Quick Access</h2>

        </div>

        <div class="card-body">

            <div class="quick-grid">

                <a href="{% url 'inventory:product_create' %}"class="quick-card">
                    <i class="fa-solid fa-plus"></i>
                    <span>Add Product</span>
                </a>

                <a href="{% url 'inventory:category_create' %}" class="quick-card">
                    <i class="fa-solid fa-folder-plus"></i>
                    <span>Add Category</span>
                </a> 

                 <a href="{% url 'inventory:warehouse_list' %}"
                 class="quick-card">
                    <i class="fa-solid fa-warehouse"></i>
                    <span>Warehouse</span>
                </a> 

                <a href="{% url 'inventory:stock_list' %}" class="quick-card">
                    <i class="fa-solid fa-cubes"></i>
                    <span>Stock</span>
                </a>

                <a href="{% url 'inventory:stock_movement_list' %}" class="quick-card">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <span>Movements</span>
                </a>

            </div>

        </div>

    </div>



    <div class="dashboard-grid">

        <!-- Recent Products -->

        <section class="dashboard-card">

            <div class="card-header">

                <h2>Recent Products</h2>

            </div>

            <div class="card-body">

                {% if recent_products %}

                <div class="table-responsive">

                    <table class="dashboard-table">

                        <thead>

                            <tr>

                                <th>SKU</th>
                                <th>Product</th>
                                <th>Category</th>
                                <th>Brand</th>

                            </tr>

                        </thead>

                        <tbody>

                            {% for product in recent_products %}

                            <tr>

                                <td>{{ product.sku }}</td>

                                <td>{{ product.name }}</td>

                                <td>{{ product.category.name }}</td>

                                <td>{{ product.brand.name }}</td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

                {% else %}

                <div class="empty-state">

                    <i class="fa-solid fa-box-open"></i>

                    <h3>No Products Found</h3>

                    <p>Add your first product.</p>

                </div>

                {% endif %}

            </div>

        </section>



        <!-- Low Stock -->

        <section class="dashboard-card">

            <div class="card-header">

                <h2>Low Stock Alerts</h2>

            </div>

            <div class="card-body">

                {% if low_stock_products %}

                <div class="activity-list">

                    {% for stock in low_stock_products %}

                    <div class="activity-item">

                        <div class="activity-icon">

                            <i class="fa-solid fa-triangle-exclamation"></i>

                        </div>

                        <div class="activity-details">

                            <h4>{{ stock.product.name }}</h4>

                            <p>{{ stock.warehouse.name }}</p>

                            <small>

                                Remaining Stock :
                                {{ stock.available_quantity }}

                            </small>

                        </div>

                    </div>

                    {% endfor %}

                </div>

                {% else %}

                <div class="empty-state">

                    <i class="fa-solid fa-circle-check"></i>

                    <h3>Great!</h3>

                    <p>No low stock products found.</p>

                </div>

                {% endif %}

            </div>

        </section>

    </div>

</div>

{% endblock %}