# ============================================
# Python
# ============================================

__pycache__/
*.py[cod]
*.pyo

# ============================================
# Virtual Environment
# ============================================

venv/
env/
.venv/

# ============================================
# Django
# ============================================

*.log

media/

staticfiles/

db.sqlite3

# Local settings
local_settings.py

# ============================================
# VS Code
# ============================================

.vscode/

# ============================================
# OS Files
# ============================================

.DS_Store
Thumbs.db

# ============================================
# Python Cache
# ============================================

.pytest_cache/

.mypy_cache/

.idea/